<div class="modal fade" id="add-appointment-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">prise de rendez-vous</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div id="appointment-form-container">
			    
				</div>
				
			</div>

			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">annuler</button>
				<a id="delete-appointment-link" href="#" class="btn btn-danger btn-sm">suprimer rendez-vous</a>

				<button type="submit" form="appointment-form" class="btn btn-success">enregister</button>
				
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<script>console.log('test')</script>

